
.displayBox > * {
    left: 0px;  /* stick it wherever it was positioned by default */
    top: 0px;
}

.displayBox {
    text-align: center;
    font-family: 'Lobster Two', cursive, sans-serif;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

/* .progressBars .counterCon {
    background-color: rgba(244,140,213,1);
    background-image: linear-gradient(rgb(237, 223, 41), rgb(209, 197, 33)), linear-gradient(rgb(0,0,0), rgb(0,0,0));
    background-repeat: no-repeat;
    border: black solid 1px;
} */

/* .progressBars .backstroke {
    display: none;
} */
/* .stroked  */
.backstroke {
    z-index: 10;
}

/* .stroked */
.forestroke {
    z-index: 20;
}

.backstroke {
    -webkit-text-stroke: 4px black;
}

.forestroke {
    color: rgba(244,140,213,1);
}

/* .backstroke {
    -webkit-text-stroke: 4px white;
}


.forestroke {
    color: black; 
}*/


.backstroke, .forestroke {
    position: absolute;
    width: 100%;
}

.urlBox {
    padding: 5px;
    border: black dotted 2px;
    border-radius: 5px;
    background: white;
}

.dangerBox {
    border-color: red;
    color: red;
}

.outlineBox {
    color: rgba(244,140,213,1);
    text-shadow: -1px 0px 0px black, 0px -1px 0px black, 1px 0px 0px black, 0px 1px 0px black;
    font-family: 'Lobster Two', cursive, sans-serif;
    font-weight: bold;
}

.barBox {
    background-color: rgba(244,140,213,1);
    background-image: linear-gradient(rgb(237, 223, 41), rgb(209, 197, 33)), linear-gradient(rgb(0,0,0), rgb(0,0,0));
    background-repeat: no-repeat;
    border: black solid 1px;
    color: black;
    background-size: 50%, 1px;
    background-position: 0px, 50%;
    font-family: 'Lobster Two', cursive, sans-serif;
    font-weight: bold;
}


/* #recentGoalsCon {
}
#goalLog {
    list-style: none;
    display: inline-block;
    margin-top: 0;

    text-align: left;
}
#goalLog > li:not(:first-child) {
    border-top: black dashed;
    padding-top: 0.5em;
}
#goalLog > li:not(:last-child) {
    margin-bottom: 0.5em;
} */

/* latin */
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.gstatic.com/s/lobstertwo/v12/BngMUXZGTXPUvIoyV6yN5-fN5qU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}